
.img-container{
  margin-top: 20px;
}

img {
  height: 200px;
  width: 200px;
  /* margin-top: 20px; */
  
  
}
img:hover {
  
  cursor: pointer;
 
}


.card {
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  max-width: 1000px;
  margin-left: 18%;
  padding-top: 60px;
}